body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

img {
    height: 200px;
    width: 500px;
}

ul {
    list-style-type: none;
}

.navbar {
    color: #f9faf8;
    background-color: #1F2937;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    }

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    margin-left: 20px;
    font-size: 16px;
}

.header {
    margin: 0px;
    padding: 0px;
    color: #f9faf8;
    background-color: #1f2937;
    margin: 0;
    padding: 0;

}

.header .container {
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 50px;
    flex: 0 0 100;
    gap: 50px;
}

.header .container .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header .container .info h1 {
    margin: 0;
    padding: 0;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-size: 36px;
}

.box-group .container {
    display: flex;
    flex-direction: row;
}

.boxes .container .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    font-size: 18px;
    align-items: center;
}

.box img {
    height: 200px;
    width: 200px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
}

.quote .container .content {
    font-size: 36px;
    font-style: italic;
}

.quote .container .author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    padding-right: 200px;
}




.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    padding: 10px;
}